*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #5d4544;
    --heading1: 65px;
    
}
body {
    background-color:#f7f7f7;
}
.header{
    background-color: #ffffff;
    /* width: 100%; */
    height: auto;
    box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.1);
    
}

/* info section */

.info-head{
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.info-head p{
     margin-left: 30px;
     color: #33323f;
     padding: 2% 0px;
}

/* navbar section */

.sidebar{
    display: none;
}
.nav-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
        
}
.content-margin-head{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
     
     
}
.navbar{
    display: flex;
    gap: .5rem;
    width: 45%;
  
    
        
}
.nav-category-drop i{
    color: #33323f;
    font-size: 0.6rem;
    
        
}
.nav-gap{
    text-decoration: none;
    color: #33323f;
    font-size: 1.1rem;   
   
    padding: 2% 2%;

}
.nav-gap:hover{
     
    background-color: rgba(209, 199, 199, 0.514);
   
    
}

.fa-circle-chevron-down .fa-duotone{
    color: blueviolet;   
}
.navbar a{
    text-decoration: none;
    color: #33323f;
}

.logo-sections{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo-sections-mobile{
    display: none;
}


/* Social Icons section */

.nav-sections{
    display: flex;
    gap: 3px;
    color: #313038;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 25px 0;
    width: 37%;
   
   
}
.nav-sections i{
     font-size: 20px;
}
.social i{
    margin-right: 20px;
   
}
.social i:hover{
    background-color: rgba(209, 199, 199, 0.514);
}
.cart-section{
   margin: 0 5%;
   height: 50px;
   width: 96px;
   display: flex;
   justify-content: center;
   align-items: center;
      
}

.cart-section span{
    margin-right: 10px;
}
.cart-section p{
    position: absolute;
    top: 0;
    right: 3rem;
    color: #ffffff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #313038;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    
} 
@media (min-width: 901px){
    .menu{
        display: none;
    }    
}
@media (max-width: 900px){
    .content-margin-head{
        display: none;
    }
    .sidebar .menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: auto;
        padding: 10%;
    }
    .sidebar{
    width: 300px;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.938);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 5;
    display: none;
    row-gap: 3%;
    padding: 5% 3%;
    backdrop-filter: blur(90px);
    }

    .sidebar .navbar{
        display: flex;
        flex-direction: column;
        /* row-gap: 5px; */
        width: 100%;
        
            
    }
    .sidebar .nav-category-drop i{
        color: #33323f;
        font-size: 0.6rem;
        
            
    }
    .sidebar .nav-gap{
        text-decoration: none;
        color: #33323f;
        text-size-adjust: 1.5rem;   
    }

    .sidebar .fa-circle-chevron-down .fa-duotone{
        color: blueviolet;   
    }
    .sidebar .navbar a{
        text-decoration: none;
        color: #33323f;
    }

    .cart-section p{
        position: absolute;
        bottom: 0;
        left: 4.7rem;
        color: #ffffff;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: #313038;
        text-align: center;
        font-size: 12px;
        font-weight: 900;
        margin-top: 0;
        
    }
    .cart-section{
        position: relative;
        justify-self: flex-start;
        margin: 0;
        
       
    }  

    hr{
        width: 80%;
    }
    .nav-sections hr{
        width: 80%;
    }
    .nav-sections{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: #313038;
        height: auto;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        margin: 10px 0;
        width: 100%;
    
    }

    /* logo section */
    .logo-sections-mobile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        
        
    }
    .logo-sections-mobile img{
      padding-bottom: 2%;
        
    }

  
    .profile{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 3% 5%;
        width: 100%;
    
    }
    .profile:hover{
        background-color: rgba(209, 199, 199, 0.514);
    }

}


/* end of header section  */


/* BEGINNING OF HERO SECTION */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
}

.content-margin{
    width: 100%;
    display: flex;
    background-color: #d7d7d5;
    padding: 0 0 0 5%;

}
.caption{
    /* background-color: #dedede; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 40%;
    color: var(--primary-color);
    
}
.caption h1{
    font-size: 100px;
    width: 40%;
    letter-spacing: 6px;
    line-height: 110px;
    
}
.caption h4{
    font-size: 25px;
    width: 65%;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 30px;
}
 .btn{
    font-size: 15px;
    padding: 15px 20px;
    /* margin-right: 28rem; */
    box-shadow: 0px 10px 9px -3px #ffffff;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    width: 300px;
    transition: 0.6s;
   
}
 .btn:hover{
    box-shadow: 0px 10px 9px -3px var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #ffffff;
    color: var(--primary-color);
    cursor: pointer;
}
.image-wrapper {
    width: 60%;
   
 }

.image-wrapper img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: left;
}

/* Mobile responsiveness for HERO SECTION*/

@media (max-width: 480px) {

    .hero{
        width: 100%;
                
    }
    .content-margin {
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    height: 100vh;
         
  }

  .caption{
    /* background-color: #dedede; */
    margin:0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
    width: 100%;
    height: 50%;
    min-height: 65vh;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px 50% 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}
.caption h1{
    font-size: 4em;
    width: 100%;
    letter-spacing: 6px;
    line-height: 60px;
    color: var(--primary-color);
    text-align: left;

    
}
.caption h4{
    font-size: 19px;
    width: 100%;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 10px;
    color: var(--primary-color);
    align-self: first baseline;
}
 .btn{
    font-size: 0.7em;
    padding: 4% 2%;
    /* margin-right: 28rem; */
    box-shadow: 0px 10px 9px -3px #ffffff;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    width: 200px;
    transition: all 0.3s;
    align-self: first baseline;

   
}
 .btn:hover{
    box-shadow: 0px 10px 9px -3px var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #ffffff;
    color: var(--primary-color);
    cursor: pointer;
}
.image-wrapper {
    width: 100%;
    
}
.image-wrapper img{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}


}

/* Small Devices: Phones (landscape) - 480px and up */

@media (min-width: 481px) and (max-width: 769px) {
        .hero{
            width: 100%;
           
             
        }
        .content-margin {
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 0 0 0 0;
            height: 100vh;
        }
            
    

    .caption{
        /* background-color: #dedede; */
        margin:0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5%;
        width: 100%;
        height: 50%;
        min-height: 65vh;
        color: var(--primary-color);
        position: absolute;
        top: 50%;
        left: 0;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px 50% 0px 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.1px);
        -webkit-backdrop-filter: blur(4.1px);
    }
    .caption h1{
        font-size: 7rem;
        width: 100%;
        letter-spacing: 6px;
        line-height: 110px;
    }
    .caption h4{
        font-size: 34px;
        width: 80%;
        align-self: first baseline;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 15px;
        color: var(--primary-color);
    }
    .btn{
        font-size: 1.1em;
        padding: 3% 4%;
        /* margin-right: 28rem; */
        box-shadow: 0px 10px 9px -3px #ffffff;
        border: none;
        background-color: var(--primary-color);
        color: #ffffff;
        font-weight: 600;
        transition: all 0.3s;
        align-self: first baseline;

    
    }
    .btn:hover{
        box-shadow: 0px 10px 9px -3px var(--primary-color);
        border: 2px solid var(--primary-color);
        background-color: #ffffff;
        color: var(--primary-color);
        cursor: pointer;
    }
    .image-wrapper {
        width: 100%;
    }
     .image-wrapper img {
        width: 100%;
        object-fit: cover;
        height: 100vh;
    }


}

/* Medium Devices: Tablets (portrait) - 768px and 1024px */
@media (min-width: 770px) and (max-width: 1024px) {

    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .content-margin {
        display: flex;
        justify-content: center;
        width: 100%;
                     
    }

    .caption{
        /* background-color: #dedede; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        color: var(--primary-color);
    }
    .caption h1{
        font-size: 6rem;
        width: 40%;
        letter-spacing: 6px;
        line-height: 110px;
            
    }
    .caption h4{
        font-size: 20px;
        width: 100%;
        margin-bottom: 30px;
    }
    .image-wrapper {
        width: 50%;
               
    }
     
}

/* Extra Large Devices: Desktops - 990px and 1024 */
@media (min-width: 1025px) {
 
    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .content-margin {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;                     
    }

    .caption{
        /* background-color: #dedede; */
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        justify-content: center;
        width: 40%;
        color: var(--primary-color);
    }
    .caption h1{
        font-size: 10em;
        width: 40%;
        letter-spacing: 6px;
        line-height: 110px;
            
    }
    .caption h4{
        font-size: 30px;
        width: 100%;
        margin-bottom: 30px;
    }
    .btn{
        font-size: 1.2em;
        padding: 3% 3%;
        /* margin-right: 28rem; */
          
    }
    .image-wrapper {
        width: 60%;
               
    }
    .image-wrapper img{
        width: 100%;
        height: 100vh;        
               
    }
}



/* END OF HERO SECTION */


/* BEGINNING OF Latest Collection SECTION */
.collection-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.content-margin-collection{
    display: flex;
    background-color: #f7f7f7;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    
}
.margin{
    width: 65%;
}
.content-margin-collection button{
    width: 120px;
    height: 45px;
    border: 1px solid var(--primary-color);
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #ffffff;
    transition: all 0.3s;

}
.content-margin-collection button:hover{
    width: 120px;
    height: 45px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;

   
}
    /* collection cart */
.collection-cart{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding-bottom: 50px ;
}
.collection-cart-content{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: 600px;
    }
.cart img{
    width: 260px;
    height: auto;
}
.cart p{
    font-size: 22px;
}
.cart button{
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
}

/* star rating */
.checked {
  color: orange;
}

/* Responsiveness for Mobile 480px */

@media (max-width:480px) {
    
    .collection-head{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .content-margin-collection{
        display: flex;
        background-color: #f7f7f7;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        
    }
    .margin{
        width: 95%;
    }
    .content-margin-collection button{
        width: 100px;
        height: 40px;
        letter-spacing: 1px;
        

    }
    .content-margin-collection button:hover{
        width: 100px;
        height: 40px;
        
    }
    .collection-cart-content{
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .cart img{
        width: 100%;
        height: auto;
        
    }
    .cart p{
        font-size: 18px;
        text-align: center;
    }
    .cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: auto;
    }


}

/* Responsiveness for Mobile 480px up*/

@media (min-width:480px) and (min-width: 767px){
    
    .collection-head{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .content-margin-collection{
        display: flex;
        background-color: #f7f7f7;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        
    }
    .margin{
        width: 95%;
    }
    .content-margin-collection button{
        width: 100px;
        height: 40px;
        letter-spacing: 1px;
        

    }
    .content-margin-collection button:hover{
        width: 100px;
        height: 40px;
        
    }
    .collection-cart-content{
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .cart img{
        width: 100%;
        height: auto;
        
    }
    .cart p{
        font-size: 18px;
        text-align: center;
    }
    .cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: auto;
    }


}

/* Medium Devices: Tablets (portrait) - 768px and up */
@media (min-width: 768px) {
        
    .collection-head{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        
    }
    .content-margin-collection{
        display: flex;
        background-color: #f7f7f7;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        
    }
    .margin{
        width: 90%;
    }
    .content-margin-collection button{
        width: 100px;
        height: 40px;
        letter-spacing: 1px;
        

    }
    .content-margin-collection button:hover{
        width: 100px;
        height: 40px;
        
    }
    .collection-cart-content{
        
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        
    }
    .cart img{
        width: 100%;
        height: auto;
        
    }
    .cart p{
        font-size: 18px;
        text-align: center;
    }
    .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: auto;
        width: 20%;
    }


}
  



/* END OF Latest Collection */

/* START NEW ARIVALS */

.new-arival-top{
    display: flex;
    width: 100%;
    height: 95vh;
    background-color: #f7f7f7;
    
}
.white{
    width: 50%;
    height: auto;
    background-color: #ffffff;
}

.new-arivals{
    width: 100%;
    height: 70vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 117.8rem;
}
.new-arivals-content{
    display: flex;
    background-color: transparent;
    
}

.new-arivals-content img{
    width: 800px;
    object-fit: cover;
}
.new-arivals-caption h1{
    font-size: 8em;
    margin-left: -5rem;
    margin-top: -9rem;
    color: var(--primary-color);
    background-color: transparent;
    width: ;
      
}
.new-arivals-caption hr{
    width: 6rem;
    height: 3.5px;
    background-color: black;
    margin-top: 6rem;
    margin-left: -1.5rem;
    margin-bottom: 6rem;
}
.new-arivals-caption h4{
    font-size: 2.3em;
    width: 15rem;
    margin-left: 4rem;
}
.new-btn{
    margin: 1.5rem 0 0 4rem;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.new-btn:hover{
    margin: 1.5rem 0 0 4rem;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

/* Responsiveness for Mobile 320px below */

@media (max-width:320px) {

    .New_Arival_hold {
       
        
    }

    .new-arival-top{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #f7f7f7;
       
        
    }
   
    .new-arivals{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 229rem;
        left: 0;
       
    }
        
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 90px;
    
    }
    .new-arivals-caption{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .new-arivals-content img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .new-arivals-caption h1{
    font-size: 45px;
    color: var(--primary-color);
    margin: 0;
    width: 100%;
    text-align: center;
      
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin: 0;
    }
    .new-arivals-caption h4{
        font-size: 1.2em;
        width: 95%;
        text-align: center;
        margin: 0;
    
    }
    .new-btn{
        
        padding: 10px 15px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        margin: 0;
        transition: all 0.3s;
    }
    .new-btn:hover{
        
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
        margin: 0;
    }
}


/* Responsiveness for min-Mobile 320px up */


/* Responsiveness for Mobile 400px */

@media (max-width: 1100px){

    .New_Arival_hold {
      
        
    }

    .new-arival-top{
        display: none;
       
        
    }
   
    .new-arivals{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        position: unset;
       
    }
        
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 90px;
    
    }
    .new-arivals-caption{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .new-arivals-content img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .new-arivals-caption h1{
    font-size: var(--heading1);
    color: var(--primary-color);
    margin: 0;
      
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin: 0;
    }
    .new-arivals-caption h4{
        font-size: 1.6em;
        width: 95%;
        text-align: center;
        margin: 0;
    
    }
    .new-btn{
        
        padding: 10px 15px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        margin: 0;
        transition: all 0.3s;
    }
    .new-btn:hover{
        
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
        margin: 0;
    }

}
    /* Wide Screens - 1100px and up */
@media (min-width: 1101px) and (max-width: 1279px) {
        .New_Arival_hold {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arival-top{
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #f7f7f7;
        
    }
    .white{
        width: 50%;
        height: auto;
        background-color: #ffffff;
    }

    .new-arivals{
        width: 100%;
        height: 85vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 94.6rem;
    }
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        
    }

    .new-arivals-content img{
        width: 800px;
        object-fit: cover;
        
    }
    .new-arivals-caption h1{
        
        margin-left: -5rem;
        margin-top: -7rem;
        color: var(--primary-color);
        width: 14rem;
        
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin-top: 4rem;
        margin-left: -1.5rem;
        margin-bottom: 4rem;
    }
    .new-arivals-caption h4{
        font-size: 2.3em;
        width: 60%;
        margin-left: 2rem;
    }
    .new-btn{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.5em;
        transition: all 0.3s ease;
    }
    .new-btn:hover{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
    }
            
      
}

 /* Wide Screens - 1100px and up */
@media (min-width: 1280px) and (max-width: 1399px){
        .New_Arival_hold {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arival-top{
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #f7f7f7;
        
    }
    .white{
        width: 50%;
        height: auto;
        background-color: #ffffff;
    }

    .new-arivals{
        width: 100%;
        height: 85vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 109.5rem;
    }
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        
    }

    .new-arivals-content img{
        width: 800px;
        object-fit: cover;
        
    }
    .new-arivals-caption h1{
        
        margin-left: -5rem;
        margin-top: -7rem;
        color: var(--primary-color);
        width: 14rem;
        
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin-top: 4rem;
        margin-left: -1.5rem;
        margin-bottom: 4rem;
    }
    .new-arivals-caption h4{
        font-size: 2.3em;
        width: 60%;
        margin-left: 2rem;
    }
    .new-btn{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.7em;
        transition: all 0.3s ease;
    }
    .new-btn:hover{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
    }
            
      
}
/* Wide Screens - 1400px and up */
@media (min-width: 1400px) and (max-width: 1599px) {
        .New_Arival_hold {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arival-top{
        display: flex;
        width: 100%;
        height: auto;
        background-color: #f7f7f7;
        
    }
    .white{
        width: 50%;
        height: auto;
        background-color: #ffffff;
    }

    .new-arivals{
        width: 100%;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 110rem;
    }
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        
    }

    .new-arivals-content img{
        width: 800px;
        object-fit: cover;
        
    }
    .new-arivals-caption h1{
        
        margin-left: -5rem;
        margin-top: -7rem;
        color: var(--primary-color);
        width: 40%;
        background-color: #333;
        
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin-top: 4rem;
        margin-left: -1.5rem;
        margin-bottom: 4rem;
    }
    .new-arivals-caption h4{
        font-size: 2.3em;
        width: 60%;
        margin-left: 2rem;
    }
    .new-btn{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.7em;
        transition: all 0.3s ease;
    }
    .new-btn:hover{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
    }
            
      
}
/* Wide Screens - 1400px and up */
@media (min-width: 1600px ) {
        .New_Arival_hold {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-arival-top{
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #f7f7f7;
        
    }
    .white{
        width: 50%;
        height: auto;
        background-color: #ffffff;
    }

    .new-arivals{
        width: 100%;
        height: 85vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 127.7rem;
    }
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        
    }

    .new-arivals-content img{
        width: 800px;
        object-fit: cover;
        
    }
    .new-arivals-caption h1{
        
        margin-left: -5rem;
        margin-top: -7rem;
        color: var(--primary-color);
        width: 14rem;
        
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin-top: 4rem;
        margin-left: -1.5rem;
        margin-bottom: 4rem;
    }
    .new-arivals-caption h4{
        font-size: 2.3em;
        width: 60%;
        margin-left: 2rem;
    }
    .new-btn{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 1.7em;
        transition: all 0.3s ease;
    }
    .new-btn:hover{
        margin: 2rem 0 0 2rem;
        padding: 14px 18px;
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
    }
            
      
}

/* END NEW ARIVALS */

/* start Gallery */

.gallery{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6em; */
    background-color: #f7f7f7;
    padding-top: 30px;
}
.gallery-wrapper-hold{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.gallery-wrapper{
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 20px);
    gap: 2rem;
    background-color: #f7f7f7;
    grid-template-areas: 
    "item1 item2"
    "item1 item2"
    "item1 item2"
    "item1 item4"
    "item3 item4"
    "item3 item4"
    "item3 item4"
    ;
    
}


/*------------------------------------------- */

.gallery-text-wrap{
    font-size: 2.3em;
    width: 100%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 35px; 
    color: var(--primary-color);    
   
}



/*  Mobile 480px */

@media (max-width: 7680px) {
   
    
    .gallery-item {
        width: 100%;
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        row-gap: 5%
    }
    .gallery-item img{
            width: 100%;
            
        }
    .gallery-wrapper{
        width: 90%;
        height: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 20px);
        padding-bottom: 15%;
        background-color: #f7f7f7;
        grid-template-areas: 
        "item1"
        "item1"
        "item1"
        "item1"
        "item3"
        "item3"
        "item3"
        "item2"
        "item2"
        "item2"
        "item2"
        "item4"
        "item4"
        "item4"
        ;
        
    }

  .gallery-text-wrap{
    font-size: 2em;
    padding: 0 2%;
     
    
}
        
}

@media (min-width: 768px) {
        .gallery{
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .gallery-wrapper-hold{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        
    }
    .gallery-wrapper{
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 20px);
        gap: 2rem;
        background-color: #f7f7f7;
        grid-template-areas: 
        "item1 item2"
        "item1 item2"
        "item1 item2"
        "item1 item4"
        "item3 item4"
        "item3 item4"
        "item3 item4"
        ;
        
    }


    /*------------------------------------------- */

    .gallery-text-wrap{
        font-size: 2.3em;
        width: 100%;
        display: flex;
        justify-content: first baseline;
        align-items: center;
        gap: 35px; 
        color: var(--primary-color);    
    
    }
}



/* end Gallery */


/* start testimonial */

.testimonial{
    
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.testimonial h1{
    font-size: 4em;
    color: #5d4544;
}
.swiper-1{
    max-width: 900px;
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
    position: relative;   
}

.slide img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.mySwiper .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  height: 100%;
 
}
.slide p {
    width:90%;
    text-align: center;
    padding: 0 100px;
    font-size: 20px;
    /* font-weight: 400; */
    color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #5d4544;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 17px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #5d4544 !important;
}
.swiper-button-prev, .swiper-button-next{
    color: #5d4544 !important;
    
}
/*  Mobile 480px */

@media (max-width:480px) {

    
.testimonial{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
   
    .testimonial h1{
        font-size: var(--heading1);
        color: var(--primary-color);
        text-align: center;
        width: 100%;

    }
    .text-wrap{
    width: 100%;
    }
    .text-wrap h4{
        font-size: 0.9em;
        width: 100%;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 6px;
        /* margin-top: 20px; */

    }
    .user img{
        border-radius: 50%;
        border: 3px solid var(--primary-color);
        font-weight: 900;
    }
    .slide p {
    
    font-size: 18px;
    width: 100%;
  }

}

@media (min-width:481px) and (max-width: 900px) {
  .slide p {
    padding: 0 20px;
    font-size: 18px;
    width:80%;
  }
  .nav-btn {
    display: none;
  }
  
}

/* end testimonial */


/* Start Banner */

.banner{
    width: 100%;
    height: 40vh;
    background-color: #a3a2a7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/banner.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
    
}
.banner::before{
    content:"";  
    background: rgb(0, 0, 0, 0.5); 
    position: absolute;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
}
.banner_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 2;

}
.banner_wrap p{
    font-size: 20px;
    color: #ffffff;

}
.banner_wrap h1{
    font-size: 60px;
    color: #ffffff;

}
.banner_wrap button{
    padding: 12px 40px;
    border: none;     

}
/* --------------------------------------------------- */

@media(max-width: 480px) {
    .banner_wrap h1{
    font-size: 40px;
    
    }
}

/* end Banner */

/* start of Blog */

.blog{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #f7f7f7;
height: auto;
}
.blog-wrap{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5%;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
   
     
      
}
.blog-content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 30%;
    height: 65vh;
    
}
.blog-content img{
    width: 100%;
         
}
.blog-content h3{
    font-size: 1.5em; 
    width: 100%;    
}
.blog-content p{
    font-size: 1.2em;
    width: 100%;
       
}

/* Mobile 480px */

@media (max-width: 480px) {
    
    .blog{
        width: 100%;
        height: auto;
        padding-bottom: 5%;
    }
    .blog-wrap{
    display: flex;
    justify-content: center;
    align-items: center; 
    row-gap: 30px;
    flex-direction: column; 
    width: 90%;    
      
    }
   
    .blog-content{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
        height: auto;
            
    }
    .blog-content img{
        width: 100%;
                
    }
    .blog-content h3{  
        width: 100%;    
    }
    .blog-content p{       
        width: 100%;        
    }
}
    


@media (min-width: 480px) and (max-width: 992px) {
    
    .blog-wrap{
   
       
    }
    .blog-content{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 45%;
        height: auto;
        padding-bottom: 5%;
        
    }
    .blog-content img{
        width: 100%;
                
    }
    .blog-content h3{  
        width: 100%;    
    }
    .blog-content p{       
        width: 100%;        
    }
}
/* end of Blog */ 

/* start News letter */
.newsletter{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0px;
}
.newsletter-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
  
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    height: auto;
}
.newsletter-content i{
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    color: rgb(221, 209, 193);

}
.newsletter-content h3{
    font-family: Fahkwang, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 17.5px;
    color: rgb(38, 34, 47);
}
.newsletter-content p{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    color: rgb(49, 46, 57);
}
.vertical-line{
    width: 1px;
    height: 8em;
    background-color: #d8d0bb;
}
.subscription-form h3{
    font-family: Fahkwang, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(38, 34, 47);
}
.subscription-form {
    width: 40%;
    display: flex;
    flex-direction: column;    
    row-gap: 40px;     
}
.subscription-form form{
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-wrap: wrap;
    width: 100%;
}
.subscription-form input{
    width: 100%;
    border: 1px solid #d8d0bb; 
    padding: 4% 100px 4% 4%;
    border-radius: 2px; 
    font-size: 15px;
}
.subscription-form input:focus{
    outline: none; 
}
.subscription-form button{
    width: 100%;
    padding: 4% 40% 4% 40%; 
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black; 
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px; 
    font-weight: 600;
    transition: all 0.3s;
}
.subscription-form button:hover{
    background-color: black;
    color: #ffffff;
    
}
.subscription-form ::placeholder{
font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(127, 128, 130)
}

/* mobile 480px */

@media (max-width: 480px) {
    .newsletter{
    height: auto;
    
    }
    .newsletter-wrap{
        flex-wrap: wrap;
        gap: 30px;
    }
    .newsletter-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    .newsletter-content h3{
        font-size: 1.2em;
    }
    .vertical-line{
        width: 100%;
        height: 1px;
    }
    .subscription-form{
        width:100%;               
    }
    .subscription-form h3{
        font-size: 1.5em;              
    }
    .subscription-form form{
        width: 100%;       
    }
    .subscription-form input{
    width: 100%;
    border: 1px solid #d8d0bb; 
    padding: 4% 200px 4% 4%;
    border-radius: 2px; 
    font-size: 15px;
    }
   
    .subscription-form button{
        width: 100%;
        padding: 4% 30% 4% 30%; 
        text-align: center;
        background-color: #ffffff;
        border: 1px solid black; 
        text-transform: uppercase;
        font-size: 16px;
       
    }
        
   
}
@media (min-width: 481px) and (max-width: 992px){
    .newsletter-wrap{       
        gap: 3%;
    }
    .subscription-form h3{
        font-family: Fahkwang, sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
        color: rgb(38, 34, 47);
    }
    .subscription-form {
        width: 50%;
        display: flex;
        flex-direction: column;    
        row-gap: 40px;     
    }
    .subscription-form form{
        display: flex;
        align-items: center;
        gap: 10px; 
        flex-wrap: wrap;
        width: 100%;
    }
    .subscription-form input{
        width: 100%;
        border: 1px solid #d8d0bb; 
        padding: 4% 200px 4% 4%;
        border-radius: 2px; 
        font-size: 15px;
    }
    .subscription-form input:focus{
        outline: none; 
    }
    .subscription-form button{
        width: 100%;
        padding: 4% 30% 4% 30%; 
        text-align: center;
        background-color: #ffffff;
        border: 1px solid black; 
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 3px; 
        font-weight: 600;
        transition: all 0.3s;
    }
}
/* end News Letter */

/* start of Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color:#262230;
    flex-direction: column;
    row-gap: 40px;
    padding: 10% 0;
    height: auto;
    


}
.footer-wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    height: auto;
}
.footer-logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.footer-content-wrapper{
    width: 55%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-content{
    width: 200px;
   display: flex;
   flex-direction: column;
   row-gap: 5%;
}

.footer-logo img{
    width: 100px;    
}
.footer-logo p{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.4px;
    color: rgb(255, 255, 255);
    width: 100%;
    
}
.footer-social{
    display: flex;
    gap: 20px;  

}
.footer-social i{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.3s;
    
}
.footer-social i:hover{
color: var(--primary-color);
}

.footer-content h3{
    font-family: Fahkwang, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 3%;

}
.footer-logo .nav-list{
    display: flex;
    flex-direction: column;
    gap: 13px;
    
}
.nav-list{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    list-style: none;
}
.nav-list li a{
font-size: 18px;
font-weight: 400;
line-height: 26.4px;
color: rgb(254, 254, 254);
text-decoration-line: none;
transition: color 0.3s;
width: 100%;
}

.nav-list li a:hover{
color: var(--primary-color);
}

.thin-line{
    width: 100%;
    height: 1px;
    background-color: #4b4756;
    border: none;

}

/* copyright */

.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400px;
    line-height: 26.4px;
    color: rgb(255, 255, 255);    
}

/* mobile 480px */

@media (max-width: 480px) {
    
    .copy{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        row-gap: 18px;
    }
    
    .footer-wrap{
        width: 90%;
        gap: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    } 
    .footer-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
       
    } 
    .footer-content-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
       
    } 
    
   
}
@media (min-width: 481px) and (max-width: 992px) {
    
     .footer-wrap{
        width: 90%;
        gap: 50px;
    }
    .footer-logo{
        width: 100%;
        justify-content: center;
        align-items: center;
        align-items: center;
        text-align: center;
    }
    .footer-content-wrapper{
        width: 100%;       
    } 
    .footer-content{
        /* width: 100%; */
    }

}


/* end of Footer */