*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #5d4544;
    --heading1: 65px;
    background-color: ;
}
.header{
    background-color: #ffffff;
    /* width: 100%; */
    height: 15vh;
    box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.1);
}

/* info section */

.info-head{
    width: 100%;
    height: 5vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.info-head p{
     margin-left: 30px;
     color: #33323f;
}

/* navbar section */

.nav-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.content-margin-head{
    max-width: 95%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
     
     
}
.navbar{
    display: flex;
    gap: 2rem;
    
        
}
.nav-category-drop i{
    color: #33323f;
    font-size: 0.6rem;
    
        
}
.nav-gap{
    text-decoration: none;
    color: #33323f;
    text-size-adjust: 1.5rem;   
}

.fa-circle-chevron-down .fa-duotone{
    color: blueviolet;   
}
.navbar a{
    text-decoration: none;
    color: #33323f;
}

/* logo section */

.logo-sections{
    margin-right: 4rem;
}

/* Social Icons section */

.nav-sections{
    display: flex;
    gap: 1.5rem;
    color: #313038;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-sections i{
     font-size: 20px;
}
.social i{
    margin-right: 20px;
}
.cart-section{
   
    
}
.cart-section span{
    margin-right: 10px;
}
.cart-section p{
    position: absolute;
    top: 2px;
    right: 2rem;
    color: #ffffff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #313038;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    
}

/* end of header section  */


/* BEGINNING OF HERO SECTION */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
}

.content-margin{
    width: 95%;
    display: flex;
    background-color: #d7d7d5;

}
.caption{
    /* background-color: #dedede; */
    margin-left: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    color: var(--primary-color);
    
}
.caption h1{
    font-size: 110px;
    width: 40%;
    letter-spacing: 6px;
    line-height: 110px;
    
}
.caption h4{
    font-size: 25px;
    width: 65%;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 30px;
}
 .btn{
    font-size: 15px;
    padding: 15px 20px;
    /* margin-right: 28rem; */
    box-shadow: 0px 10px 9px -3px #ffffff;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    width: 300px;
    transition: 0.6s;
   
}
 .btn:hover{
    box-shadow: 0px 10px 9px -3px var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #ffffff;
    color: var(--primary-color);
    cursor: pointer;
}
.image-wrapper {
  width: 100%;
  max-width: 1200px;
 }

.image-wrapper img {
  width: 100%;
  height: 50rem;
  display: block;
  object-fit: cover;
  object-position: left;
}

/* Mobile responsiveness for HERO SECTION*/

@media (max-width: 480px) {

    .hero{
        width: 100%;
    }
    .content-margin {
    flex-direction: column;
    align-items: center;
         
  }

  .caption{
    /* background-color: #dedede; */
    margin:0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}
.caption h1{
    font-size: var(--heading1);
    width: 100%;
    letter-spacing: 6px;
    line-height: 60px;
    color: var(--primary-color);
    text-align: center;
    
}
.caption h4{
    font-size: 24px;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}
 .btn{
    font-size: 13px;
    padding: 15px 17px;
    /* margin-right: 28rem; */
    box-shadow: 0px 10px 9px -3px #ffffff;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
    width: 200px;
    transition: all 0.3s;

   
}
 .btn:hover{
    box-shadow: 0px 10px 9px -3px var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #ffffff;
    color: var(--primary-color);
    cursor: pointer;
}
.image-wrapper {
    width: 100%;
}


}





/* END OF HERO SECTION */


/* BEGINNING OF Latest Collection SECTION */
.collection-head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.content-margin-collection{
    display: flex;
    background-color: #f7f7f7;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    
}
.margin{
    width: 65%;
}
.content-margin-collection button{
    width: 120px;
    height: 45px;
    border: 1px solid var(--primary-color);
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #ffffff;
    transition: all 0.3s;

}
.content-margin-collection button:hover{
    width: 120px;
    height: 45px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;

   
}
    /* collection cart */
.collection-cart{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}
.collection-cart-content{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: 600px;
    }
.cart img{
    width: 260px;
    height: auto;
}
.cart p{
    font-size: 22px;
}
.cart button{
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
}

/* star rating */
.checked {
  color: orange;
}

/* Responsiveness for Mobile 480px */

@media (max-width:480px) {
    
    .collection-head{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }
    .content-margin-collection{
        display: flex;
        background-color: #f7f7f7;
        height: 20vh;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        
    }
    .margin{
        width: 95%;
    }
    .content-margin-collection button{
        width: 100px;
        height: 40px;
        letter-spacing: 1px;
        

    }
    .content-margin-collection button:hover{
        width: 100px;
        height: 40px;
        
    }
    .collection-cart-content{
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .cart img{
        width: 100%;
        height: auto;
        
    }
    .cart p{
        font-size: 18px;
        text-align: center;
    }
    .cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        height: auto;
    }


}


/* END OF Latest Collection */

/* START NEW ARIVALS */

.new-arival-top{
    display: flex;
    width: 100%;
    height: 85vh;
    background-color: #f7f7f7;
    
}
.white{
    width: 50%;
    height: auto;
    background-color: #ffffff;
}

.new-arivals{
    width: 100%;
    height: 70vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 114.7rem;
}
.new-arivals-content{
    display: flex;
    background-color: transparent;
    
}

.new-arivals-content img{
    width: 800px;
    object-fit: cover;
}
.new-arivals-caption h1{
    font-size: 8em;
    margin-left: -5rem;
    margin-top: -9rem;
    color: var(--primary-color);
      
}
.new-arivals-caption hr{
    width: 6rem;
    height: 3.5px;
    background-color: black;
    margin-top: 6rem;
    margin-left: -1.5rem;
    margin-bottom: 6rem;
}
.new-arivals-caption h4{
    font-size: 2.3em;
    width: 15rem;
    margin-left: 4rem;
}
.new-btn{
    margin: 1.5rem 0 0 4rem;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.new-btn:hover{
    margin: 1.5rem 0 0 4rem;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

/* Responsiveness for Mobile 480px */

@media (max-width:480px) {

    .new-arival-top{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 95vh;
        background-color: #f7f7f7;
       
        
    }
    .white{
        width: 100%;
        height: 30vh;
        background-color: var(--primary-color);

    }

    .new-arivals{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 260.5rem;
        left: 0;
    }
        
    .new-arivals-content{
        display: flex;
        background-color: transparent;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 90px;
    
    }
    .new-arivals-caption{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .new-arivals-content img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .new-arivals-caption h1{
    font-size: var(--heading1);
    color: var(--primary-color);
    margin: 0;
      
    }
    .new-arivals-caption hr{
        width: 6rem;
        height: 3.5px;
        background-color: black;
        margin: 0;
    }
    .new-arivals-caption h4{
        font-size: 1.6em;
        width: 95%;
        text-align: center;
        margin: 0;
    
    }
    .new-btn{
        
        padding: 10px 15px;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        margin: 0;
        transition: all 0.3s;
    }
    .new-btn:hover{
        
        background-color: var(--primary-color);
        color: #ffffff;
        cursor: pointer;
        margin: 0;
    }

}



/* END NEW ARIVALS */

/* start Gallery */

.gallery{
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em;
    background-color: #f7f7f7;
}
.gallery-wrapper{
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 20px);
    gap: 5rem;
    background-color: #f7f7f7;
    grid-template-areas: 
    "item1 item2"
    "item1 item2"
    "item1 item2"
    "item1 item4"
    "item3 item4"
    "item3 item4"
    "item3 item4"
    ;
    
}

/*------------------------------------------- */

.gallery-text-wrap{
    font-size: 2.3em;
    width: 15rem;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 35px; 
    color: var(--primary-color);    
}

    
/*  Mobile 480px */

@media (max-width:480px) {
    .gallery{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gallery-wrapper{
    width: 100%;
    height: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 20px);
    
    background-color: #f7f7f7;
    grid-template-areas: 
    "item1"
    "item1"
    "item1"
    "item1"
    "item3"
    "item3"
    "item3"
    "item2"
    "item2"
    "item2"
    "item2"
    "item4"
    "item4"
    "item4"
    ;
    
}

.gallery-text-wrap{
    font-size: 1.7em;
    width: 10rem;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 15px; 
    color: var(--primary-color);    
}

    
}

/* end Gallery */


/* start testimonial */

.testimonial{
    background-color: #8a2f2f;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonial h1{
    font-size: var(--heading1);
}

.testimonial-content-holder{

    background-color: #f7f7f7;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    
}
 .swiper-slide{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
        
}

.swiper-wrapper h1{
    font-size: var(--heading1);
    color: var(--primary-color);
    text-align: center;

}
.text-wrap{
width: 100%;
}
.swiper-slide h4{
    font-size: 1.1em;
    width: 450px;
    text-align: center;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}
.user img{
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    font-weight: 900;
}
.user p{
    color: var(--primary-color);
}

/*  Mobile 480px */

@media (max-width:480px) {

    
.testimonial{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
   
    .testimonial-content h1{
        font-size: var(--heading1);
        color: var(--primary-color);
        text-align: center;
        width: 100%;

    }
    .text-wrap{
    width: 100%;
    }
    .text-wrap h4{
        font-size: 0.9em;
        width: 100%;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 6px;
        /* margin-top: 20px; */

    }
    .user img{
        border-radius: 50%;
        border: 3px solid var(--primary-color);
        font-weight: 900;
    }

}



/* end testimonial */


/* Start Banner */

.banner{
    width: 100%;
    height: 40vh;
    background-color: #a3a2a7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./image/banner.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
    
}
.banner::before{
    content:"";  
    background: rgb(0, 0, 0, 0.5); 
    position: absolute;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
}
.banner_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 2;

}
.banner_wrap p{
    font-size: 20px;
    color: #ffffff;

}
.banner_wrap h1{
    font-size: 60px;
    color: #ffffff;

}
.banner_wrap button{
    padding: 12px 40px;
    border: none;     

}
/* end Banner */

/* start of Blog */

.blog{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #f7f7f7;
height: 60vh;
}
.blog-wrap{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;
     
      
}
.blog-content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 380px;
    
}
.blog-content img{
    width: 380px;
         
}
.blog-content h3{
    font-size: 1.5em; 
    width: 350px;    
}
.blog-content p{
    font-size: 1.2em;
    width: 380px;
       
}

/* Mobile 480px */

@media (max-width: 480px) {
    
    .blog{
        height: 160vh;
        padding: 0px 5px;
    }
    .blog-wrap{
    display: flex;
    justify-content: center;
    align-items: center; 
    row-gap: 30px;
    flex-direction: column;
     
      
}
    
}
/* end of Blog */ 

/* start News letter */
.newsletter{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
  
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.newsletter-content i{
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    color: rgb(221, 209, 193);

}
.newsletter-content h3{
    font-family: Fahkwang, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
    color: rgb(38, 34, 47);
}
.newsletter-content p{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26.4px;
    color: rgb(49, 46, 57);
}
.vertical-line{
    width: 1px;
    height: 8em;
    background-color: #d8d0bb;
}
.subscription-form h3{
    font-family: Fahkwang, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(38, 34, 47);
    margin-bottom: 50px;

}
.subscription-form form{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 48px;
    background-color: #f7f7f7;
    gap: 10px;
    
}
.subscription-form input{
    border: 1px solid #d8d0bb; 
    padding: 15px 200px 15px 15px;
    border-radius: 2px; 
    font-size: 15px;
}
.subscription-form input:focus{
    outline: none; 
}
.subscription-form button{
    padding: 12px 40px; 
    align-self: first baseline; 
    background-color: #ffffff;
    border: 1px solid black; 
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px; 
    font-weight: 600;
    transition: all 0.3s;
}
.subscription-form button:hover{
    background-color: black;
    color: #ffffff;
    
}
.subscription-form ::placeholder{
font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(127, 128, 130)
}

/* mobile 480px */

@media (max-width: 480px) {
    .newsletter{
    height: 70vh;
    
    }
    .newsletter-wrap{
        width: 80%;
        display: flex;
        /* justify-content: flex-start; */
        /* align-items: center; */
        flex-wrap: wrap;
        gap: 40px;
                 

    
    }
    .newsletter-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    .vertical-line{
        width: 100%;
        height: 1px;
    }
    .subscription-form{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
               
    }
    .subscription-form form{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .subscription-form button{
        width: 100%;
    }
    
   
}

/* end News Letter */

/* start of Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color:#262230;
    flex-direction: column;
    row-gap: 40px;

}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-content{
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
.footer-content img{
    width: 100px;    
}
.footer-content p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.4px;
    color: rgb(255, 255, 255);
    width: 350px;
    
}
.footer-social{
    display: flex;
    gap: 20px;  

}
.footer-social i{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.3s;
}
.footer-social i:hover{
color: var(--primary-color);
}

.footer-content h3{
    font-family: Fahkwang, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(255, 255, 255);

}
.footer-content .nav-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.footer-content .nav-list ul{
    
}

.nav-list li a{
font-size: 18px;
font-weight: 400;
line-height: 26.4px;
color: rgb(254, 254, 254);
text-decoration-line: none;
transition: color 0.3s;
}

.nav-list li a:hover{
color: var(--primary-color);
}

.thin-line{
    width: 100%;
    height: 1px;
    background-color: #4b4756;
    border: none;

}

/* copyright */

.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400px;
    line-height: 26.4px;
    color: rgb(255, 255, 255);    
}

/* mobile 480px */

@media (max-width: 480px) {
   
    .footer{
        width: 100%;
        height: 120vh;
      
    
    }
    .footer-wrap{
        width: 80%;
        gap: 40px;
        
    
    }
    .footer-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .copy{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        row-gap: 20px;
    }
    
    
   
}


/* end of Footer */