*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #ffffff;
    /* width: 100%; */
    height: 15vh;
    box-shadow: 0px 10px 9px -3px rgba(0,0,0,0.1);
}

/* info section */

.info-head{
    width: 100%;
    height: 5vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.info-head p{
     margin-left: 30px;
     color: #33323f;
}

/* navbar section */

.nav-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.content-margin-head{
    max-width: 95%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
     
     
}
.navbar{
    display: flex;
    gap: 2rem;
    
        
}
.nav-category-drop i{
    color: #33323f;
    font-size: 0.6rem;
    
        
}
.nav-gap{
    text-decoration: none;
    color: #33323f;
    text-size-adjust: 1.5rem;   
}

.fa-circle-chevron-down .fa-duotone{
    color: blueviolet;   
}
.navbar a{
    text-decoration: none;
    color: #33323f;
}

/* logo section */

.logo-sections{
    margin-right: 4rem;
}

/* Social Icons section */

.nav-sections{
    display: flex;
    gap: 1.5rem;
    color: #313038;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-sections i{
     font-size: 20px;
}
.social i{
    margin-right: 20px;
}
.cart-section{
   
    
}
.cart-section span{
    margin-right: 10px;
}
.cart-section p{
    position: absolute;
    top: 2px;
    right: 2rem;
    color: #ffffff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #313038;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    
}

/* end of header section  */


/* BEGINNING OF HERO SECTION */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-margin{
    width: 95%;
    display: flex;
    background-color: #d7d7d5;

}
.caption{
    /* background-color: #dedede; */
    margin-left: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    color: #5d4544;
    
}
.caption h1{
    font-size: 8.5rem;
    width: 40%;
    letter-spacing: 6px;
    line-height: 12rem;
    
}
.caption h4{
    font-size: 25px;
    width: 50%;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 30px;
}
.caption button{
    font-size: 15px;
    padding: 15px 20px;
    margin-right: 28rem;
    box-shadow: 0px 10px 9px -3px #ffffff;
    border: none;
    background-color: #5d4544;
    color: #ffffff;
    font-weight: 600;
}
.caption button:hover{
    font-size: 15px;
    padding: 15px 20px;
    margin-right: 28rem;
    box-shadow: 0px 10px 9px -3px #5d4544;
    border: 2px solid #5d4544;
    background-color: #ffffff;
    color: #5d4544;
    font-weight: 600;
    transition: 0.6s;
}
.content-margin img{
    width: 1200px;
    height: 800px;
    object-fit: cover;
    display: block;    
}
/* END OF HERO SECTION */